<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="include/layout">
<body>

  <div layout:fragment="content" class="page-album">
  
    <h1 th:text="${album.title}"></h1>

    <section class="thumbnails">
      <div>
      
        <a href="/images/fulls/01.jpg">
          <img src="/images/thumbs/01.jpg" alt="" />
          <h3>Lorem ipsum dolor sit amet1</h3>
        </a>
        <a href="/images/fulls/01.jpg">
          <img src="/images/thumbs/01.jpg" alt="" />
          <h3>Lorem ipsum dolor sit amet2</h3>
        </a>
        <a href="/images/fulls/02.jpg">
          <img src="/images/thumbs/02.jpg" alt="" />
          <h3>Lorem ipsum dolor sit amet3</h3>
        </a>
        <a href="/images/fulls/04.jpg">
          <img src="/images/thumbs/04.jpg" alt="" />
          <h3>Lorem ipsum dolor sit amet</h3>
        </a>
        <a href="/images/fulls/05.jpg">
          <img src="/images/thumbs/05.jpg" alt="" />
          <h3>Lorem ipsum dolor sit amet</h3>
        </a>
        <a href="/images/fulls/06.jpg">
          <img src="/images/thumbs/06.jpg" alt="" />
          <h3>Lorem ipsum dolor sit amet</h3>
        </a>
        <a href="/images/fulls/07.jpg">
          <img src="/images/thumbs/07.jpg" alt="" />
          <h3>Lorem ipsum dolor sit amet</h3>
        </a>
      </div>
    </section>
    
  </div>

</body>
</html>