<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="include/layout">
<body>

  <div layout:fragment="content" class="page-album">
  
    <h1 class="title" th:text="${album.title}"></h1>

    <section class="thumbnails lightbox">
      <div style="margin-top: 10px;">
        <a th:each="photo,status : ${album.photos}" th:href="${photo.large}" href="/images/fulls/01.jpg" th:if="${status.index % 4 == 0}" 
            class="thumbnail" data-photoid="${photo.id}">
          <img th:src="${photo.small}" src="/images/thumbs/01.jpg" alt="" />
          <h3 th:text="${photo.title}">Lorem ipsum dolor sit amet1</h3>
        </a>
      </div>
      <div style="margin-top: 35px;">
        <a th:each="photo,status : ${album.photos}" th:href="${photo.large}" href="/images/fulls/01.jpg" th:if="${status.index % 4 == 1}" 
            class="thumbnail" data-photoid="${photo.id}">
          <img th:src="${photo.small}" src="/images/thumbs/01.jpg" alt="" />
          <h3 th:text="${photo.title}">Lorem ipsum dolor sit amet1</h3>
        </a>
      </div>
      <div style="margin-top: 35px;">
        <a th:each="photo,status : ${album.photos}" th:href="${photo.large}" href="/images/fulls/01.jpg" th:if="${status.index % 4 == 2}" 
            class="thumbnail" data-photoid="${photo.id}">
          <img th:src="${photo.small}" src="/images/thumbs/01.jpg" alt="" />
          <h3 th:text="${photo.title}">Lorem ipsum dolor sit amet1</h3>
        </a>
      </div>
      <div style="margin-top: 10px;">
        <a th:each="photo,status : ${album.photos}" th:href="${photo.large}" href="/images/fulls/01.jpg" th:if="${status.index % 4 == 3}" 
            class="thumbnail" data-photoid="${photo.id}">
          <img th:src="${photo.small}" src="/images/thumbs/01.jpg" alt="" />
          <h3 th:text="${photo.title}">Lorem ipsum dolor sit amet1</h3>
        </a>
      </div>
    </section>
    
  </div>

</body>
</html>