
.mainMenu {
	text-align: center;
}

.mainMenu h1 {
	float: left;
	margin: 15px;
	text-shadow: 2px 3px 6px #000;
}

section.thumbnails a.thumbnail {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.page-home h1.title {
	font-size: 3em;
	margin-left: 20px;
	letter-spacing: 0.6em;
	text-shadow: 2px 3px 6px #000;
} 

.page-album h1.title {
	text-align: center;
	font-size: 3em;
	margin: 0;
} 

.page-map .infoWindow h2 {
	color: #111B34;
} 

.page-development .introduction {
    padding: 10px;
}

.page-development div.chapter,
.page-development h1 {
    padding: 10px;
}

.page-development div.chapter {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-weight: bold;
    margin: 15px 0;
}

.page-development div.chapter p {
    margin: 0;
}

.page-development div.chapter:hover {
	background-color:rgba(255,255,255,0.05);
}